doctype html
html
    head
        link(rel='stylesheet', href='/bootstrap.min.css')
        link(rel='stylesheet', href='/bpmn-font/css/bpmn.css')
        link(rel='stylesheet', href='/diagram-js.css')

        script(data-main="/javascripts/app-modeler.js" src="/javascripts/require.js")


        style.
            html, body, #canvas {
                height: 100%;
                padding: 0;
                margin: 0;
            }

            #control-panel {
                position: fixed;
                bottom: 20px;

            }

            .form-control {
                font-size: 11px;
                height: auto;
            }


        body

            #canvas

            .toast#error(role="alert", style='position: absolute; top: 0; right: 0;', data-delay="6000")
                .toast-header
                    strong.mr-auto Error
                    button.ml-2.mb-1.close(type='button' data-dismiss='toast' aria-label='Close')
                        span(aria-hidden='true') &times;
                .toast-body Error text!


            .toast#notify(role="alert", aria-live="assertive", aria-atomic="true", style='position: absolute; top: 0; right: 0;', data-delay="6000")
                .toast-header
                    strong.mr-auto Notification
                    button.ml-2.mb-1.close(type='button' data-dismiss='toast' aria-label='Close')
                        span(aria-hidden='true') &times;
                .toast-body Notification text!


            .toast#deleted(role="alert", style='position: absolute; top: 0; right: 0;', data-delay="6000")
                .toast-header
                    strong.mr-auto Caption
                    button.ml-2.mb-1.close(type='button' data-dismiss='toast' aria-label='Close')
                        span(aria-hidden='true') &times;
                .toast-body Successfully deleted!


            .btn-toolbar#control-panel
                div.btn-group.mr-2
                    button.btn.btn-light.btn-sm#new-button New

                div.btn-group.mr-2
                    select.form-control#menu

                div.btn-group.mr-2
                    button.btn.btn-light.btn-sm#save-button Save

                div.btn-group.mr-2
                    div.input-group
                        button.btn.btn-light.btn-sm#save-as-button Save As...
                        input.form-control#new-name

                div.btn-group.mr-2
                    div.input-group
                    button.btn.btn-light.btn-sm#delete-button Delete

                div.btn-group.mr-2
                    div.input-group
                    button.btn.btn-light.btn-sm#download-button Download


            .toast(role='alert' aria-live='polite' aria-atomic='true' data-delay='10000')
                div(role='alert' aria-live='assertive' aria-atomic='true') ...
