doctype html
html
  head
    link(rel='stylesheet', href='/bootstrap.min.css')
    link(rel='stylesheet', href='/bpmn-font/css/bpmn.css')
    link(rel='stylesheet', href='/diagram-js.css')

    script.
        let diagram = "#{diagram}";


    script(data-main="/javascripts/app-viewer.js" src="/javascripts/require.js")

    style.
        html, body, #canvas {
            height: 100%;
            padding: 0;
            margin: 0;
        }

    body
        div#canvas



